NODE_ENV='development'
PORT='8000'
API_URL='http://localhost:8000'

# Database
DATABASE_URL='postgres://postgres:postgres@127.0.0.1:5432/db_name'

#Gemini key
GEMINI_API_KEY=''
GEMINI_MODEL=''

# Queue Management
QUEUE_PREFIX=''
