NODE_ENV='development'
PORT='8000'
API_URL='http://localhost:8000'
FRONTEND_URL='http://localhost:8081'
JWT_SECRET=''

# Database
DATABASE_URL='postgres://postgres:Dev@123@127.0.0.1:5432/boilerplate_db'


# Email Configuration
MAIL_USERNAME= ''
MAIL_PASSWORD= ''
MAIL_HOST= 'smtp.freesmtpservers.com'
MAIL_PORT= '25'
MAIL_SECURE= 'false'
MAIL_SECURE_TLS='false'
MAIL_FROM= '"demo" <demo@gmail.com'

# Queue Management
RABBIT_MQ_URL='amqp://root:Dev123@localhost:5672'
REDIS_HOST='127.0.0.1'
REDIS_PORT='6379'
REDIS_PASSWORD=''
QUEUE_PREFIX='local-demo'

# AWS S3 Configuration
AWS_REGION='us-east-1'
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_S3_BUCKET=''
AWS_S3_CDN_URL=''
